<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gameIndex_0000</key>
      <dict>
        <key>frame</key>
        <string>{{378,134},{97,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{97.00,97.00}</string>
      </dict>
      <key>gameIndex_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1060,257},{97,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{97.00,97.00}</string>
      </dict>
      <key>gameIndex_0002</key>
      <dict>
        <key>frame</key>
        <string>{{576,134},{97,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{97.00,97.00}</string>
      </dict>
      <key>gameIndex_0003</key>
      <dict>
        <key>frame</key>
        <string>{{477,134},{97,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{97.00,97.00}</string>
      </dict>
      <key>gameIndex_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1064,128},{97,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{97.00,97.00}</string>
      </dict>
      <key>gameIndex_0005</key>
      <dict>
        <key>frame</key>
        <string>{{374,400},{369,145}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{369.00,145.00}</string>
      </dict>
      <key>gameIndex_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,253},{372,145}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{372.00,145.00}</string>
      </dict>
      <key>gameIndex_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,547},{371,135}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{371.00,135.00}</string>
      </dict>
      <key>gameIndex_0008</key>
      <dict>
        <key>frame</key>
        <string>{{374,547},{361,138}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{361.00,138.00}</string>
      </dict>
      <key>gameIndex_0009</key>
      <dict>
        <key>frame</key>
        <string>{{737,547},{358,145}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{358.00,145.00}</string>
      </dict>
      <key>gameIndex_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,400},{371,145}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{371.00,145.00}</string>
      </dict>
      <key>gameIndex_0011</key>
      <dict>
        <key>frame</key>
        <string>{{567,1},{359,131}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{359.00,131.00}</string>
      </dict>
      <key>gameIndex_0012</key>
      <dict>
        <key>frame</key>
        <string>{{375,253},{361,138}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{361.00,138.00}</string>
      </dict>
      <key>gameIndex_0013</key>
      <dict>
        <key>frame</key>
        <string>{{738,257},{320,128}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{320.00,128.00}</string>
      </dict>
      <key>gameIndex_0014</key>
      <dict>
        <key>frame</key>
        <string>{{928,1},{308,125}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{308.00,125.00}</string>
      </dict>
      <key>gameIndex_0015</key>
      <dict>
        <key>frame</key>
        <string>{{737,694},{327,123}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{327.00,123.00}</string>
      </dict>
      <key>gameIndex_0016</key>
      <dict>
        <key>frame</key>
        <string>{{745,387},{320,128}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{320.00,128.00}</string>
      </dict>
      <key>gameIndex_0017</key>
      <dict>
        <key>frame</key>
        <string>{{738,134},{324,121}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{324.00,121.00}</string>
      </dict>
      <key>gameIndex_0018</key>
      <dict>
        <key>frame</key>
        <string>{{1,123},{375,128}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{375.00,128.00}</string>
      </dict>
      <key>gameIndex_0019</key>
      <dict>
        <key>frame</key>
        <string>{{1,684},{371,135}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{371.00,135.00}</string>
      </dict>
      <key>gameIndex_0020</key>
      <dict>
        <key>frame</key>
        <string>{{374,687},{361,138}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{361.00,138.00}</string>
      </dict>
      <key>gameIndex_0021</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{564,120}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{564.00,120.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>gameIndex.png</string>
      <key>realTextureFileName</key>
      <string>gameIndex.png</string>
      <key>textureFileName</key>
      <string>gameIndex.png</string>
      <key>size</key>
      <string>{1266,848}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Credits</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>FullScreen</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>More</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>MusicOff</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>MusicOn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>Levels1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51220</real>
        <key>anchorY</key>
        <real>0.48552</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>Levels2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52688</real>
        <key>anchorY</key>
        <real>0.49241</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>Levels3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50404</real>
        <key>anchorY</key>
        <real>0.47704</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>Levels4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50970</real>
        <key>anchorY</key>
        <real>0.48841</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>Levels5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51397</real>
        <key>anchorY</key>
        <real>0.47172</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>Levels6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50404</real>
        <key>anchorY</key>
        <real>0.49241</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>Levels7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.54318</real>
        <key>anchorY</key>
        <real>0.46107</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>Levels8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50970</real>
        <key>anchorY</key>
        <real>0.48841</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>Start1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49375</real>
        <key>anchorY</key>
        <real>0.45625</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>Start2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53247</real>
        <key>anchorY</key>
        <real>0.47520</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>Start3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50153</real>
        <key>anchorY</key>
        <real>0.45854</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>Start4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49375</real>
        <key>anchorY</key>
        <real>0.45625</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>Start5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51852</real>
        <key>anchorY</key>
        <real>0.45785</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>Start6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51467</real>
        <key>anchorY</key>
        <real>0.46406</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>Start7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50404</real>
        <key>anchorY</key>
        <real>0.47704</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>Start8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50970</real>
        <key>anchorY</key>
        <real>0.48841</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>Title</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.64982</real>
        <key>anchorY</key>
        <real>0.73750</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>menuBg</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gameIndex/menuBg.jpg</string>
      </dict>
      <key>Menu1</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.93159</real>
        <key>anchorY</key>
        <real>1.92565</real>
        <key>url</key>
        <string>gameIndex/Menu1.png</string>
      </dict>
      <key>Menu2</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.93939</real>
        <key>anchorY</key>
        <real>1.92565</real>
        <key>url</key>
        <string>gameIndex/Menu2.png</string>
      </dict>
      <key>Menu3</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.94726</real>
        <key>anchorY</key>
        <real>1.93633</real>
        <key>url</key>
        <string>gameIndex/Menu3.png</string>
      </dict>
      <key>Menu4</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.94726</real>
        <key>anchorY</key>
        <real>1.94361</real>
        <key>url</key>
        <string>gameIndex/Menu4.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>BgTop</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>4</integer>
        <key>rect</key>
        <string>0,0,960.00,720.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1209</key>
          <dict>
            <key>class</key>
            <string>Menu1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,720.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i1453</key>
          <dict>
            <key>class</key>
            <string>Menu2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,720.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i1457</key>
          <dict>
            <key>class</key>
            <string>Menu4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,720.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1455</key>
          <dict>
            <key>class</key>
            <string>Menu3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,720.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>LevelBtn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>8</integer>
        <key>rect</key>
        <string>0,0,420.00,165.20</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i1469</key>
          <dict>
            <key>class</key>
            <string>Levels7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i1459</key>
          <dict>
            <key>class</key>
            <string>Levels2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||</string>
          </dict>
          <key>i1471</key>
          <dict>
            <key>class</key>
            <string>Levels8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1465</key>
          <dict>
            <key>class</key>
            <string>Levels5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i1461</key>
          <dict>
            <key>class</key>
            <string>Levels3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>i1463</key>
          <dict>
            <key>class</key>
            <string>Levels4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i1467</key>
          <dict>
            <key>class</key>
            <string>Levels6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i1235</key>
          <dict>
            <key>class</key>
            <string>Levels1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||</string>
          </dict>
        </dict>
      </dict>
      <key>SoundBtn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,97.00,97.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i1473</key>
          <dict>
            <key>class</key>
            <string>MusicOff</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|48.50,48.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1261</key>
          <dict>
            <key>class</key>
            <string>MusicOn</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>48.50,48.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>StartBtn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>8</integer>
        <key>rect</key>
        <string>0,0,420.00,165.20</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i1479</key>
          <dict>
            <key>class</key>
            <string>Start4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i1487</key>
          <dict>
            <key>class</key>
            <string>Start8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1481</key>
          <dict>
            <key>class</key>
            <string>Start5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i1287</key>
          <dict>
            <key>class</key>
            <string>Start1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||</string>
          </dict>
          <key>i1475</key>
          <dict>
            <key>class</key>
            <string>Start2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||</string>
          </dict>
          <key>i1483</key>
          <dict>
            <key>class</key>
            <string>Start6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i1477</key>
          <dict>
            <key>class</key>
            <string>Start3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>i1485</key>
          <dict>
            <key>class</key>
            <string>Start7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||210.00,82.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>gameIndex</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,960.00,720.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>btn_levels</key>
          <dict>
            <key>class</key>
            <string>LevelBtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>252.85,254.70,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>bgTop</key>
          <dict>
            <key>class</key>
            <string>BgTop</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,720.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>btn_start</key>
          <dict>
            <key>class</key>
            <string>StartBtn</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>252.85,429.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i1313</key>
          <dict>
            <key>class</key>
            <string>menuBg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,720.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>btn_credits</key>
          <dict>
            <key>class</key>
            <string>Credits</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>56.75,54.70,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>btn_fs</key>
          <dict>
            <key>class</key>
            <string>FullScreen</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>799.65,665.60,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i1326</key>
          <dict>
            <key>class</key>
            <string>Title</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>524.00,618.35,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>More</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>906.40,54.70,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>SoundBtn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>906.40,665.60,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>